@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --backcolor:#F6F8FF;
    --headcolor:#4B6A9B;
    --hoverbuttoncolor:#60ABFF;
    --fontcolor:#778FB3;
    --contback:#FFFFFF;
    --bright:100%;
    --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}