*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.heading{
    text-align: center;
    margin: 1em 0;
}

.card{
    height:15rem ;
    width: 15rem;
    position: relative;
    transition: scale 0.3s linear;
}

.caption{
    opacity: 0;
    font-size: 0.7em;
    color: white;
    font-style: italic;
    position: absolute;
    bottom: 0;
    padding: 25px;
    width: 100%;
}

.image-container{
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
}

.image{
    width: 100%;
    filter: grayscale(1);
    transition: all 0.2s linear;
    border-radius: 5px;
}

.card:hover {
    scale: 1.03;
}

.card:hover .image{
    filter: grayscale(0);
    box-shadow: 1px 1px 15px ;
}

.card:hover .caption{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
}

@media (max-width:784px) {
    .image-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:516px) {
    .image-container{
        grid-template-columns: 1fr;
    }
}